/* CSS styling for the pokedex-app */

:root {

    /* Colors */
    /* Main colors used */
    --text-color: #2b2b2b;

    /* --primary-color: #8cabbf; */
    /* --secondary-color: #DF6615; */
    /* --background-color: #CDDDDD; */

    /* colors container divs */
    --background-color-containers: #A81F2A;
    --background-color-main-heading: #A81F2A;


    /* buttons - styling */
    --btn-text-color: #181818;
    --btn-background-color: #F0F000;
    --btn-border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    --btn-font-weight: 700;
    --btn-font-size: 18px;

    /* buttons :hover */
    --btn-background-color-hover: #dac909;

    /* buttons :active */
    --btn-background-color-active: #56da09;

    /* Text */
    /* main font used */
    --main-font-family: 'Roboto', Arial;
    --main-font-size: 16px;
    --main-line-height: 1.2;

    /* h1 */
    --h1-font-family: 'Luckiest Guy', cursive, Arial;
    --h1-font-color: #FFF;
    --h1-font-size: 35px;
    --h1-line-height: 1.5;
    --h1-font-weight: 900;
    --h1-margin-bottom: 12px;

    /* h3 */
    --h3-font-color: #FFF;

    /* input */
    --input-font-family: 'Roboto', Arial;
    --input-font-size: 18px;
    --input-font-weight: 700;

    /* Styling for modals */
    /* h1 modal */
    --h1-font-color-modal: #2b2b2b;

    /* p modal */
    --main-font-size-modal: 16px;

    /* buttons :hover modal */
    --btn-background-color-hover-modal: #931B25;

    /* buttons :active modal */
    --btn-background-color-active-modal: #255B06;


}


body {
    font-family: var(--main-font-family);
    background-color: var(--background-color);
}


h1 {
    font-family: var(--h1-font-family);
    font-size: var(--h1-font-size);
    color: var(--h1-font-color);
}

/* used to display the unsuccessful search result */
h3 {
    font-family: var(--main-font-family);
    color: var(--h3-font-color);
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.6);
}


/* flex-container for the buttons */
.button-box {
    display: flex;

    justify-content: center;
    align-items: center;

    margin: 20px 15px;
    padding: 0 20px;

    background-color: var(--background-color-containers);
    border-radius: 10px;

    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2);
}


/* ul for the list-elements containing the buttons */
ul {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;

    /* Padding 0 to reset the standard padding. Without it, the centering of the buttons in the list would not be correct */
    padding-left: 0;
    list-style-type: none;
}


/* list-elements containing the buttons */
li {
    flex: 1;

    min-width: 150px;
    max-width: 250px;
    /* setting the margin here and not in the buttons. Better here than in the actual content. */
    margin: 10px;
}


/* styling the buttons */
button {
    text-align: center;
    width: 100%;

    height: 50px;
    /* overwrites browser defaults and resets the border */
    border: none;

    font-family: inherit;
    font-size: var(--btn-font-size);

    font-weight: var(--btn-font-weight);
    /* styles the background color, font color, and text decoration (underline, etc.) of the button */
    background-color: var(--btn-background-color);
    color: var(--btn-text-color);
    text-decoration: none;
    /*adds spacing to the button (this will be discussed more in-depth later) */
    padding: 10px;
    border-radius: 3px;
    /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
    border-bottom: var(--btn-border-bottom);

    cursor: pointer;

    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2);
}


button:hover {
    transition: 0.3s;
    background-color: var(--btn-background-color-hover);
}

button:active {
    background-color: var(--btn-background-color-active);
}



/* container on top of the page for the blue light and the heading */
.main-container {
    display: flex;
    align-items: center;

    margin: 20px 15px;

    min-height: 100px;

    background-color: var(--background-color-main-heading);
    border-radius: 10px;

    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2);
}


/* container for the search box */
.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    margin: 20px 15px;
    padding: 24px 36px;

    min-height: 50px;

    background-color: var(--background-color-main-heading);
    border-radius: 10px;

    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2);
}

/* styling the search input box */
.input-item {
    width: 100%;

    height: 35px;
    /* overwrites browser defaults and resets the border */
    border: none;

    font-family: var(--input-font-family);
    font-size: var(--input-font-size);
    font-weight: var(--input-font-weight);

    border-radius: 3px;
    /* added border styling to prevent the box from jumping when in focus */
    border: 5px solid transparent;
    /* Remove the default outline */
    outline: none;

    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2);

}

/* color of the outline when search box is in focus */
input:focus {
    border: 5px solid var(--btn-background-color);
}


/* container for the circles that form the blue light */
.circle-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    position: relative;

    width: 60px;
    height: 60px;
}

.circle {
    position: absolute;
    border-radius: 50%;
    left: 100%;
    transform: translateX(-50%);
}


.circle-large {
    width: 60px;
    height: 60px;
    background-color: #f0f0f0;

    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}


.circle-medium {
    width: 50px;
    height: 50px;
    background-color: #5EA6DC;
    bottom: 5px;
}

/* oval circle */
.circle-small.oval {
    width: 10px;
    height: 21px;
    background-color: white;
    bottom: 28px;
    /* to move it to the side */
    left: 80%;
    transform: rotate(42deg);

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

/* main heading */
.heading {
    flex: 1;
    padding-left: 55px;
    padding-right: 15px;

    letter-spacing: 2px;

    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.6);
}






/* Everything to style the modal and its container*/
/* modal container */
#modal-container {
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);

    /* to show it above other content */
    z-index: 999;

    /* to allow scrolling if the screen is not high enough*/
    overflow: auto;

    /* this is used to center the modal */
    display: grid;
    text-align: center;
}

/* the modal that shows the pokemon and its characteristics */
.modal {
    /* centering the modal on the page */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    margin: auto;
    display: inline-block;
    box-sizing: border-box;
    background: #eeeeee;
    padding: 15px;
    width: 80%;
    max-width: 500px;

    border-radius: 10px;
}


/* .modal-close {
    float: right;
    border: 0;
    background: none;
    color: #777;
    text-decoration: underline;
} */


/* the title of the modal displaying the name */
.modal h1 {
    text-align: center;
    font-family: var(--h1-font-family);
    color: var(--h1-font-color-modal);
    letter-spacing: 1px;

    margin-top: 0px;
}

/* class for displaying the characteristics of the pokemon */
.modal p {
    font-family: var(--main-font-family);
    font-size: var(--main-font-size-modal);
    font-weight: bold;
    margin: 5px 5px 10px;

    text-align: center;
}

/* pokemon image */
.modal-image {
    display: block;
    margin-left: auto;
    margin-right: auto;

    width: 60%;
    height: auto;
}

/* button to close the modal */
.modal-close-btn {
    margin-top: 20px;

    text-align: center;
    width: 100%;

    height: 50px;
    /* overwrites browser defaults and resets the border */
    border: none;

    font-family: inherit;
    font-size: var(--btn-font-size);

    font-weight: var(--btn-font-weight);
    /* styles the background color, font color, and text decoration (underline, etc.) of the button */
    background-color: var(--background-color-main-heading);
    color: #FFF;
    text-decoration: none;
    /*adds spacing to the button (this will be discussed more in-depth later) */
    padding: 10px;
    border-radius: 3px;
    /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
    border-bottom: var(--btn-border-bottom);

    cursor: pointer;

    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2);
}


.modal-close-btn:hover {
    transition: 0.3s;
    background-color: var(--btn-background-color-hover-modal);
}

.modal-close-btn:active {
    background-color: var(--btn-background-color-active-modal);
}



/* at first the modal container is not visible */
#modal-container {
    display: none;
}

#modal-container.is-visible {
    /* CSS for modal container - add your own desired CSS styles here */
    display: block;
}





/* media query to make the blue light on the top left disappear */
@media all and (max-width: 370px) {
    .circle-container {
        display: none;
    }
}

/* reducing the font-size of the h1 of the modal */
@media all and (max-width: 330px) {
    .modal h1 {
        font-size: 28px;
    }
}

/* reducing the font-size of the input text and placeholder text*/
@media all and (max-width: 320px) {
    .input-item {
        font-size: 14px;
    }
}